body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: white; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* NAVBAR */

#squeegee {
  width: 450px;
  margin-top: 10px;
  margin-left: 20px;

}

nav a.active {
  background-color: #aa84d0;
  color: white;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  font-weight: bold;
  /* background-color: #666666; */
}

nav img {
  margin-left: 24%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-left: 10%;
  margin-right: 4%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}


/* HOME COMPONENT */


#slideshow-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 0;
  margin-top: 50px;
}

#slideshow-image img {
  position: cover;
}


/* FORMS */


.new-rec-form {
  margin-top: 4em;
}

label,
input,
select {
  font-size: 1.2rem;
  line-height: 1.2;
}

select {
  margin-left: 1.2rem;
}

form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}

label {
  margin-bottom: 0.4rem;
  display: block;
  font-weight: 600;
}

input,
textarea {
  margin-top: 0.2rem;
  padding: 0.4rem;
  width: 100%;
}

textarea {
  font-size: 1rem;
}

.accent {
  margin-left: 50px;
}

#button-submit-form {
  width: 130px;
  height: 40px;
  background-color: #aa84d0;
  color: white;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0rem 0rem 0rem;
  border-radius: 4px;
  cursor: pointer;
}

#button-submit-form:hover {
  color: rgb(0, 0, 0);
  font-style: bold;
  border: 2px #000000 solid;
}

#button-artist-submit-form {
  width: 130px;
  height: 40px;
  background-color: #aa84d0;
  color: white;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0rem 0rem 2rem;
  border-radius: 4px;
  cursor: pointer;
}

#button-artist-submit-form:hover {
  color: rgb(0, 0, 0);
  font-style: bold;
  border: 2px #000000 solid;
}

#form-category {
  margin-top: 20px;
}


/* ARTISTS */


#center-artist-button {
  width: 300px;
  margin: auto;
}

#button-add-new-artist {
  width: 200px;
  height: 40px;
  background-color: #45734b/*rgb(161, 246, 178)*/;
  color: white;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  margin: 1rem 2rem 2rem 3rem;
  border-radius: 4px;
  cursor: pointer;
}

#button-add-new-artist:hover {
  color: rgb(0, 0, 0);
  font-style: bold;
  border: 2px #000000 solid;
}


/* ARTIST CARD */

#artist-grid {
  margin-left: auto;
  margin-right: auto;
}

#artistCard {
  text-align: center;
  border: 1px solid #2a2a2a;
  padding: 1rem;
  height: 25rem;
  width: 25rem;
  display: inline-grid;
  justify-content: center;
  margin: 1rem 2rem;
  box-shadow: 3px 4px rgba(0,0,0);
}

#artistCard:hover {
  box-shadow: 3px 4px #aa84d0;
  background-color:rgb(254, 252, 204)
}

#artist-image {
  justify-self: center;
  object-fit: contain;
  height: 20rem;
  width: 25rem;
}


/* ARTIST DETAIL */


#artist-detail-info {
  text-align:center;
  justify-content: center;
  width: 600px;
  margin: auto;
  padding-bottom: 50px;
}

#artist-detail-photo {
  justify-self: center;
  object-fit: contain;
  height:100%;
  max-height:400px;
  width:100%;
  max-width:600px;
}

#artist-detail-print-card {
  text-align: center;
  border: 1px solid #2a2a2a;
  padding: 2rem;
  justify-content: center;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

#artist-detail-print-image {
  justify-self: center;
  object-fit: contain;
  height:100%;
  max-height:600px;
  width:100%;
  max-width:600px;
}

#button-update-print {
  width: 250px;
  height: 40px;
  background-color: #aa84d0;
  color: white;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

#button-update-print:hover {
  color: rgb(0, 0, 0);
  font-style: bold;
  border: 2px #000000 solid;
}

#button-delete-print {
  width: 200px;
  height: 40px;
  background-color: rgb(245, 128, 98);
  color: white;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  margin: 1rem 0rem 0rem 3rem;
  border-radius: 4px;
  cursor: pointer;
}

#button-delete-print:hover {
  color: rgb(0, 0, 0);
  font-style: bold;
  border: 2px #000000 solid;
}

#button-add-new-print {
  width: 200px;
  height: 40px;
  background-color: #45734b/*rgb(161, 246, 178)*/;
  color: white;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  margin: 1rem 0rem 0rem 3rem;
  border-radius: 4px;
  cursor: pointer;
}

#button-add-new-print:hover {
  color: rgb(0, 0, 0);
  font-style: bold;
  border: 2px #000000 solid;
}


/* PRINT CARD */


#printCard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
  margin-top: 50px;
}

#poster-image {
  width: 500px;
  flex-basis: auto;
  flex-flow: row wrap;
  display: inline;
}


/* PRINTS PAGE */


.print-container {
  position: relative;
  text-align: center;
  padding: 2rem;
  justify-content: center;
  width: 600px;
  margin: auto;
}

.print-container-images {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.print-container:hover .print-container-images {
  opacity: 0.3;
}

.print-container:hover .overlay {
  opacity: 1;
}

.text-block {
  background-color: #aa84d0;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
