body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */

nav a.active {
  background-color: rgba(105, 17, 186, 0.57);
  color: white;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  /* margin-top: 0.5em; */
  font-weight: bold;
}

nav img {
  margin-left: 24%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-left: 10%;
  margin-right: 4%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}


/* FORM */


.new-rec-form {
  margin-top: 4em;
}

label,
input,
select {
  font-size: 1.2rem;
  line-height: 1.2;
}

select {
  margin-left: 1.2rem;
}

form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}

label {
  margin-bottom: 0.4rem;
  display: block;
  font-weight: 600;
}

input,
textarea {
  margin-top: 0.2rem;
  padding: 0.4rem;
  width: 100%;
}

textarea {
  font-size: 1rem;
}

.accent {
  margin-left: 50px;
}

#submit-form {
  width: 130px;
  height: 40px;
  background-color: rgba(105, 17, 186, 0.57);
  color: white;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
}

/* ARTISTS */

button {
  width: 200px;
  height: 40px;
  background-color: rgba(105, 17, 186, 0.57);
  color: white;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
}

.artists {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 4rem;
  max-width: 90%;
  margin: 5% 0 0 5%; */
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  justify-content: center;
}


/* ARTIST CARD */

#artistCard {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
  margin-top: 50px;
}

#artist-image {
  width: 500px;
  flex-basis: auto;
  flex-flow: row wrap;
  display: inline;
}



/* PRINT CARD */

#printCard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
  margin-top: 50px;
}

#poster-image {
  width: 500px;
  flex-basis: auto;
  flex-flow: row wrap;
  display: inline;
}